

a:visited{
  color:black;
  text-decoration:none;
}
a {
  color:black;
  text-decoration: none;
}
body {
  font-size: 15px;
}
#user_header{
  border-bottom:1px solid;

  padding-top:27px;
  height: 54px;

  background-color: #01579B;  /*개발자 모드*/
}
#admin_header{
  border-bottom:1px solid;

  padding-top:27px;
  height: 54px;

  background-color: #4CAF50;  /*개발자 모드*/
}
.menu {
  margin-right: 40px;

  float: right;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  border: 1px solid;

  padding: 9px;

  float: left;

  font-weight: bold;
  background-color: white;
}
#admin_clicked_menu {
  background-color: #C8E6C9;
}
#user_clicked_menu {
  background-color: #E1F5FE;
}
.sub_menu{
  border-right: 1px solid;

  position: absolute;
  width:200px;
  height: 100%;

  background-color: lightgray;
}
.sub_menu ul {
  margin-top: 40px;
  list-style: none;
}
.sub_menu ul li {
  border: 1px solid;

  padding: 8px;

  background-color: white;
}
#admin_clicked_sub_menu {
  background-color: #C8E6C9;
}
#user_clicked_sub_menu {
  background-color: #E1F5FE;
}
article {
  margin-left: 250px;
  margin-top: 40px;
}
article h1{
  margin-left: -35px;

  margin-bottom: 40px;

  font-size: 60px;

  color: #FCA205;
  font-family: 'Lobster';
}

article h2{
margin-left: -20px;
  margin-bottom: 40px;
  font-size: 40px;
  color: #07b273;
  font-family: 'Lobster';
}

article h3{

  margin-bottom: 10px;
  font-size: 25px;
  color: #111111;
  font-family: 'Lobster';
}

article h5{
margin-left: 1px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #111111;
  font-family: 'Lobster';
}
