a:visited{
  color:black;
  text-decoration:none;
}
a {
  color:black;
  text-decoration: none;
}
div {
  display: inline;
}
body {
  font-size: 15px;
}
header{
  border-bottom:1px solid;

  padding-top:27px;
  height: 54px;

  background-color: #4CAF50;  /*개발자 모드*/
}
.menu {
  margin-right: 40px;

  float: right;
}
ul {
  list-style: none;
}
.menu ul li {
  border: 1px solid;

  padding: 9px;

  float: left;

  font-weight: bold;
  background-color: white;
}
#clicked_menu {
  background-color: #C8E6C9;
}
.selectBtn{
  position: relative;
  left:500px;
  width: 100px;
  height: 30px;
  margin: 5px;
}
.sub_menu{
  border-right: 1px solid;

  position: absolute;
  width:200px;
  height: 100%;

  background-color: lightgray;
}
.sub_menu ul {
  margin-top: 40px;
  list-style: none;
}
.sub_menu ul li {
  border: 1px solid;

  padding: 8px;

  background-color: white;
}
#clicked_sub_menu {
  background-color: #C8E6C9;
}
article {
  margin-left: 250px;
  margin-top: 40px;
}
article h1{
  margin-bottom: 40px;
}
.selector {
    width: 150px;
    height: 28px;
    margin-right: 10px;
    margin-bottom: 20px;
}
#info_list {
  margin-top: 30px;
  padding-left: 0;
}
#info_list li {
  margin: 5px;
  padding: 3px;
}
.checkInfo {
  position:relative;
  left: 155px;
  bottom: 125px;
  width: 200px;
}
.addInfo {
  position:relative;
  left: 155px;
  bottom: 190px;
  width: 200px;
}
.table {
	border-collapse: collapse;
	border-top: 1px solid black;
	border-left: 1px solid black;
}
.table th, .table td {
  height: 30px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
#bank_field {
  width: 70px;
  height: 21px;
}
#check_account_field {
  left: 231px;
  bottom: 158px;
}
#add_account_field {
  left: 155px;
  bottom: 190px;
}
#reqBtn {
  position: relative;
  left: 367px;
  bottom: 167px;
  padding: 8px;
  font-size: 15px;
}
.confirmBtn{
  margin-top: 20px;
  width: 100px;
  height: 30px;
}
.rejectBtn{
  width: 100px;
  height: 30px;
}
.disableBtn{
  margin: 10px;
  width: 100px;
  height: 30px;
}
