a:visited{
  color:black;
  text-decoration:none;
}
a {
  color:black;
  text-decoration: none;
}
div {
  display: inline;
}
body {
  font-size: 15px;
}
header{
  border-bottom:1px solid;

  padding-top:27px;
  height: 54px;

  background-color: #4CAF50;  /*개발자 모드*/
}
.menu {
  margin-right: 40px;
  float: right;
}
ul {
  list-style: none;
}
.menu ul li {
  border: 1px solid;

  padding: 9px;

  float: left;

  font-weight: bold;
  background-color: white;
}
#clicked_menu {
  background-color: #C8E6C9;
}
#result input {
    width: 200px;
    padding: 6px;
    margin-bottom: 3px;
    margin-left: 150px;
    margin-right: 300px;
}
#find input {
    width: 200px;
    padding: 6px;
    margin-bottom: 5spx;
}
.sub_menu{
  border-right: 1px solid;

  position: absolute;
  width:200px;
  height: 100%;

  background-color: lightgray;
}
.sub_menu ul {
  margin-top: 40px;
  list-style: none;
}
.sub_menu ul li {
  border: 1px solid;

  padding: 8px;

  background-color: white;
}
#clicked_sub_menu {
  background-color: #C8E6C9;
}
article {
  margin-left: 250px;
  margin-top: 40px;
}
article h1{
  margin-bottom: 40px;
}
.selector {
    width: 150px;
    height: 28px;
    margin-right: 10px;
    margin-bottom: 20px;
}
#info_list {
  margin-top: 30px;
  padding-left: 0;
}
#info_list li {
  position:relative;
  left: 130px;
  bottom:30px;
  padding: 7px;
}
#info_list button {
  position:relative;
  left: 360px;
  bottom:70px;
  padding: 7px;
}
.checkInfo {
  position:relative;
  left: 155px;
  bottom: 125px;
  width: 200px;
}
.addInfo {
  position:relative;
  left: 155px;
  bottom: 190px;
  width: 200px;
  height: 30px;
}
#result {
  position: relative;
  bottom: 195px;
  padding: 10px;
}
#result li {
  position: relative;
  bottom: 50px;
  padding: 3px;
  left:-3px;
}
#find2 li {
    width: 200px;
    padding: 10px;
    left:-200px;
    margin-bottom: 5spx;
}
#search {
  position: relative;
  bottom:55px;
  left:240px;
  padding: 8px;
}
